@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>O objetivo deste trabalho é apresentação de um sistema de cadastro de pessoas que será utilizado a partir de navegadores de internet e dispositivos móveis Android, este sistema será desenvolvido a partir do framework ASP .NET, considerando os conhecimentos obtidos nas matérias de programação orientada a objetos, desenvolvimento de software para a internet e tópicos especiais de programação orientada a objetos, esse software será capaz de estabelecer uma conexão com um mecanismos de acesso a um trecho do banco de dados.</p>
