@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>UNIP - ADS - PROJETO INTEGRADO MULTIDISCIPLINAR 8</h2>
    <p class="lead">.</p>
    <p><a href="https://www.unip.br/" class="btn btn-primary btn-lg">Conheça UNIP &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Danilo da Silva Lopes</h3>
        <p>
            Olá, me chamo Danilo, estudo na UNIP e trabalho com tecnologia, atualmente em infraestrutra! Gosto muito de linguagens orientadas a objetos e no backend.
        </p>
        <p><a class="btn btn-default" href="https://github.com/daanloopes">Nosso Git &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Dayan Monteiro dos Santos</h3>
        <p>Olá, me chamo Dayan, estudo na UNIP e trabalho com tecnologia, atualmente em desenvolvimento com frontend!.</p>
        <p><a class="btn btn-default" href="https://github.com/DayanMonteiro">Nosso Git &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Nicole Catarina Trajano</h3>
        <p>Olá, me chamo Nicole, estudo na UNIP e trabalho com tecnologia, atualmente em desenvolvimento.</p>
        <p><a class="btn btn-default" href="https://github.com/NicoleCatarina">Nosso Git &raquo;</a></p>
    </div>
</div>